
.logo{
  position:absolute;
  left:40px;
  top:40px  
}

body {
display: -ms-flexbox;
display: flex;
color: #fff;
text-shadow: none;
}

html, body {
  /* width: 100%; */
height: 100%;
background-color: white;
}


.banner-withText {
  background:url("../img/banner-img-with-vector.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  width:183.7%;
  height: 100vh;
}

.social-links {
  float:right;
  margin-top:15px;
}

.social-links ul {
  list-style:none;
  text-align: right;
}

.social-links ul li {
       display: inline-block;
padding: 0 10px;
border-right: solid 1px #ddd;
align-items: center;
line-height: normal;
}

.social-links ul li:last-child {
  margin-right:0;
  border-right:none;
}

.social-links ul li:nth-child(5) {
border-right: 0!important;
}

.social-links ul li a {
  color:#fff;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  
}

.nav {
  margin-top:15px;
}


.nav-masthead .nav-link {
  color:#fff;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  font-size: 15px;
}


.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
border-bottom-color: #fff;
}

a.nav-link.bg-white.b-radius-25.text-black {
background: #fff;
color: #000;
padding: 0 15px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 25px;
position:relative;
top:-5px;
font-family: 'Poppins', sans-serif !important;
font-weight: 600;
}


main.inner.cover {
position: absolute;
top: 0;
width: 33%;
top: 39%;
left: 13%;
}


.text-black {
color:#000!important;
}

h2.lead {
font-family: 'Poppins', sans-serif !important;
font-weight: 400;
font-size: 6rem;
line-height: 51px;
/* letter-spacing: 5.5px; */
margin-bottom: 51px;
position:relative;
}
h2.lead:after {
position: absolute;
display: block;
content: '';
left: 0;
bottom: -35px;
width: 84px;
height: 3px;
background: #fff;
}
p.lead{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}
.btn-text{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}
.cover-heading{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}
.cover-heading-small{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}


a.btn.btn-lg.btn-secondary {
background: #fff;
border-radius: 25px;
border: 0;
color: #000;
line-height: normal;
}

.arrow-down {
right: 0;
position: relative;
float: right;
margin-right: 32%;
color: #fff;
font-size: 45px;
bottom: 0;
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


.content-2{
  height: 100%;
  width: 100%;
  color: #000;
}
/* .content-2-left{
  padding: 70px 0;
  padding-left: 140px;
} */
.we{
  border-bottom: 2px solid #eea739;
}
.text-content{
  /* background-color: blue; */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 450px;
  left: 110px;
  /* float: right; */
  
}

.content-2-right{
  width: 100%;
  height: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content-2-left{
  width: 100%;
  height: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card{
  border: 0;
  padding: 0;
}
.card:hover{
  -webkit-box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.75);
}
.card-header{
  border: 0;
  background-color: #fff;
  padding-bottom: 0;
}
.card:hover > .card-header {
  background-color: #eea739;
}


.card-hr{
  background-color: #eea739;
  width: 30px;
  float: left;
  padding: 0;
}
.card-text{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  padding-top: 10px;
  font-size: 13px;
}
.cover-heading-p{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  padding-top: 10px;
  font-size: 15px;
}
.card-title{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  font-size: 15px;
}
.arrows{
  float: right;
  /* margin-top: 150px; */
  background-color: #d1d1d1;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  position:absolute;
  bottom: 50px;
  right:0;
}
.fade-out{
  opacity: 0.03;
  font-size: 80px;
  position: absolute;
  left: -10;
  margin-left: -170px;
  margin-top: -50px;
}



